pycache/
*.py[cod]
*$py.class

*.so

dist/
build/
*.egg-info/
*.egg

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db
Desktop.ini

.Spotlight-V100
.Trashes

$RECYCLE.BIN/

*/feedback